body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex; 
  flex-direction: column;
  background: #2193b0;
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  );
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  );
}

footer {
  margin-top: auto; 
}